Source: @@PACKAGENAME@@
Section: misc
Priority: optional
Maintainer: Juergen Neumann <juergen.neumann@dmx.berlin>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://dmx.berlin

Package: @@PACKAGENAME@@
Architecture: all
Depends: openjdk-8-jre-headless, debconf (>= 0.5)
Breaks: deepamehta (<< 5.0)
Conflicts: @@CONFLICTS@@
Description: DMX is a free and open source semantic data platform. You can author, map, explore and share networked information with meaningful relationships.
