Source: @@PACKAGENAME@@
Section: misc
Priority: optional
Maintainer: Juergen Neumann <juergen.neumann@dmx.berlin>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://dmx.berlin

Package: @@PACKAGENAME@@
Architecture: all
Depends: @@JAVAVERSION@@
Pre-Depends: debconf (>= 0.5)
Breaks: deepamehta (<< 5.0)
Conflicts: @@CONFLICTS@@
Description: DMX - semantic web platform for knowledge management and collaboration
 DMX is a knowledge building platform for individuals and work groups. You can
 author, map, explore and share networked information with meaningful relationships.
 The DMX UI is designed to support memorization, retrieval, and collaboration.
 It is completely based on Topic Maps.
