[Unit]
Description=DMX - The Context Machine
Documentation=https://docs.dmx.systems
After=network.target syslog.target


[Service]
User=dmx
Group=dmx
Environment=PIDDIR=/var/run/dmx
Environment=JAVA_XMS=128
Environment=JAVA_XMX=256
ExecStartPre=/bin/mkdir -p ${PIDDIR}
# EnvironmentFile=/etc/default/dmx
PIDFile=${PIDDIR}/dmx.pid
WorkingDirectory=/var/lib/dmx
SyslogIdentifier=DMX

ExecStart=/bin/bash -c \
    "/usr/bin/java \
    -Xms${JAVA_XMS}M \
    -Xmx${JAVA_XMX}M \
    -Dfile.encoding=UTF-8 \
    -Dfelix.system.properties=file:/etc/dmx/config.properties \
    -Dpidfile.path=${PIDDIR}/dmx.pid \
    -jar /usr/share/dmx/bin/felix.jar"

[Install]
WantedBy=multi-user.target

